@import '../fx/fx.css';

a.icons {
  margin: 1px;
  font-size: 25px;
  color: #4c4c4c;
}

a.icons:hover {
  color: #3d3d3d;
}

.footer {
  animation: 
  slideUp linear 1.5s 1,
  fadeIn linear 1.5s 1;
}