@import '../fx/fx.css';

svg.iconos {
  margin: 1px;
  font-size: 25px !important;
  color: #505050;
}

svg.iconos:hover {
  color: #3d3d3d;
}

.footer {
  animation: 
  slideUp linear 1.5s 1,
  fadeIn linear 1.5s 1;
}