body {
  background: FAFAF9;
  font-family: 'Sora', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.5rem;
  column-gap: 1.5rem;
}

h1 {
  font-size: 40px;
}

a {
  color: inherit;
}

.row {
  display: flex;
  flex-direction: row;
}

img {
  height: auto;
  width: 100%;
  border-radius: 15px;
}

.button {
  border-radius: 10px !important;
  margin-right: 10px;
}

.button.is-info:hover {
  background-color: #282c34d0;
  color: rgb(232, 232, 232);
}

.button a:hover {
  background-color: rgba(81, 107, 159, 0);
  color: rgb(232, 232, 232);
}

.hero.is-fullheight .hero-body {
  justify-content: center;
}

.is-beautiful {
  background-color: #d3f6ffb5;
}

.is-cool {
  background-color: white;
}

.is-chill {
  background-color: #eaeaea;
}

